body {background-color:black; 
    font-family:arial;
    color:white
}
h1{ color:grey;
font-family:veranda;
margin-left:-30px;
}
.maindiv {
    background-color:white;
    color:black;
    width:fit-content;
    padding:40px;
    left:30px;
    border-radius:25px;
    margin:auto;

}
label{
    width: 110px;
    display:inline-block;
    }
input[type=text], select, [type ="number"]{
    justify-content:center;
    align-content:center;
  
  }
footer{
    margin:auto;
    justify-content: center;
    align-items: center;
}

mark { 
    background-color: yellow;
    color: black;
  }